/*
COMENTAMOS EL CODIGO SIEMPRE!
*/

/* TIPOGRAFIA */ 
/* TRAIGO LA TIPOGRAFIA */
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;1,700&display=swap');

/* APLICO LA TIPOGRAFIA */

.oswald {
    font-family: 'Oswald', sans-serif;
}

.nunito {
    font-family: 'Nunito', sans-serif;
}

.nunito-bold {
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    font-style: italic;
} 


/* Header */

.section-header{
    background-image: url('https://i.pinimg.com/originals/76/15/db/7615dbf576821d3a8a550d29f3c00593.png');
    background-size: cover;
    background-position: center;
  height: 200px;
}

.logo-header { 
    width: 50px;
}

.nav-header {
    list-style-type: none;
}


.fa-user {
    font-size: 60px;
}